$color-dark: #333;
$color-gray-lighter: #f5f5f5;
$color-gray-light: #fafafa;
$color-purple: #6e5494;
$color-blue: #4078c0;
$color-navbar: #24292e;
$color-link-hover: hsla(0,0%,100%,.7);
$color-error: #bd2c00;
$color-gray: #dddddd;